body table {
 font-family:Helvetica;
 font-size:10px;
 }
 table {
 border-top: solid 1px black;
 }
h3 {
 font-family:Helvetica;
 font-size:10px;
 }
.col1 {
	float: left;
	width: 33%;
}
.col2 {
	float: left;
	width: 33%;
}
.col3 {
	float: left;
	width:33%;
}
#inText {
	width:50px;
	font-size:10px
	}